.idea
/build
*cmake_install.cmake
*Makefile
*CMakeFiles
*.cmake

libs/imgui/**
!libs/imgui/
!libs/imgui/**/
libs/imgui/docs
libs/imgui/examples
libs/imgui/libs
libs/imgui/misc
!libs/imgui/**/CMakeLists.txt
!libs/imgui/**/readme.md

libs/sdl/**
!libs/sdl/
!libs/sdl/**/
!libs/sdl/**/CMakeLists.txt
!libs/sdl/**/readme.md
*.framework/

libs/wwise/**
!libs/wwise/
!libs/wwise/**/
!libs/wwise/**/CMakeLists.txt
!libs/wwise/**/readme.md

wwise_project/**
!wwise_project/readme.md

